<h1>New message</h1>

<form action="/new" method="POST">
	<label for="user">Username:</label>
	<input type="text" id="user" name="user" />
	<label for="message">Message:</label>
	<input type="text" id="message" name="message" />
	<input type="submit" value="Submit" />
</form>
