<h1><%= title %></h1>
<div class="messages">
	<% for (let i = 0; i < messages.length; i++) { %>
	<div class="message">
		<p><%= messages[i].text %></p>
		<p><%= messages[i].user %></p>
		<p><%= messages[i].added %></p>
	</div>
	<% } %>
</div>
